@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fbf7ef; /* Light mode background color */
  --text-color: #0c0a03; /* Light mode text color */
}

.dark {
  --background-color: #100c04; /* Dark mode background color */
  --text-color: #fcfaf3; /* Dark mode text color */
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

html {
  scroll-behavior: smooth !important;
}

.on-scroll {
  animation-delay: 250ms;
}

#blur-overlay {
  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

#nav-links {
  z-index: 1001;
}
